* {
    margin: 0;
    padding: 0;
}
.nav-link:link
{
    font-family: "Riposte SemiBold";
    color: darkgrey
}
.nav-link:visited
{
    color: darkgrey;
}
.nav-link:hover
{
    color: yellow;
}
.intro-text-first
{
    font-family: "Riposte SemiBold";
    font-size: 65px;
}
.intro-text-second
{
    font-family: "Riposte SemiBold";
    font-size: 80px;
}
#intro-sub-text
{
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
}
.click-link:link {
    text-decoration: none;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}
h1
{
    font-family: "Riposte SemiBold";
}
p
{
    font-family: 'Lato', sans-serif;
}
.text-icon
{
    font-size: 100px;
}

.text-icon-second
{
    font-size: 90px;
}
.click-link:visited {
    color: grey;
    font-size: 24px;
}

.click-link:hover {
    color: yellow;
    font-size: 24px;
}

.education-cont {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img {
    background: url(introPic.jpg);
    width: 95.4%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
    color: whitesmoke;
}

.webCertificate-cont {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.webCertificate-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 95%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.webCertificate-cont:hover .overlay {
    opacity: 1;
}

.text-light {
    text-decoration: none;
}
.footer-icon
{
    font-size: 24px;
}
.footer-icon:hover
{
    color: blue;
}
@media only screen and (min-width:576px)
{
    [class="jumbotron jumbotron-fluid intro-img mx-5 mt-3 rounded-3"]
    {
        margin:0;
    }
    [class="navbar navbar-expand-lg sticky-top bg-light"]
    {
        background-color: black;
        color: whitesmoke;
    }
}